    /* General Display*/
    div.displayExample {
        border: 1;
        border-color: black;
        border-style: solid;
        padding: 1%;
        margin: 1%;
        border-radius: 12px;
    }

    /* Menu Bar*/
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
    }

    .icon-bar a {
        float: left;
        text-align: center;
        width: 20%;
        padding: 12px 0;
        transform: all 0.25s ease;
        color: white;
        font-size: 36px;
    }

    .icon-bar a:hover {
        background-color: #000;
    }

    .active {
        background-color: #04AA6D;
    }

    /* Hamburger*/
    #Hamburger {
        width: 35px;
        /* Make it wide */
        height: 5px;
        /* Add a height */
        background-color: black;
        /* Black*/
        margin: 6px 0;
        /*
    1 value applies to all sides
    2 values, first to top and bottom, second to left and right
    3 values first top, second left and right, third bottom
    4 values top, right, bottom then left
    */
    }

    /* Drop Down*/
    .dropButton {
        background-color: lightblue;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropDown {
        position: relative;
        display: inline-block;
    }

    .dropDown-Content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown:hover .dropDown-Content {
        background-color: lightgray;
    }

    .dropDown-Content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropDown:hover .dropDown-Content {
        display: block;
    }

    .dropDown:hover .dropButton {
        background-color: lightskyblue;
    }