body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

footer {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

ul {
    list-style:circle;
}