body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}